blockquote {
  border-left: 0.3rem solid var(--blockquote-border-color);
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;

  *:last-child {
    margin-bottom: 0;
  }
}

blockquote footer {
  display: block;
  font-size: small;
  padding: 1.5rem 0;
}
