dialog {
  border: 1px solid var(--bg-primary-color);
  border-radius: 1rem;
  box-shadow: 2px 2px 10px var(--color-light);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 999;
}
