.dark {
  --font-color: #fff;
  --background-color: #040d12;

  --color-initial: #fff;

  // Article
  --article-box-shadow-color: rgba(255, 255, 255, 0.1);

  //Blockquote
  --blockquote-border-color: var(--color-primary);

  // Links
  --link-color: var(--color-primary);
  --link-hover-color: var(--color-light);
}
