table {
  border-spacing: 0;
  display: block;
  overflow-x: auto;
  text-align: left;
  width: 100%;
}
td,
th {
  border-bottom: 0.1rem solid var(--color-gray);
  padding: 1.2rem 1.5rem;

  &:first-child {
    padding-left: 1em;
  }
  &:last-child {
    padding-right: 1em;
  }
}

@media (min-width: 40rem) {
  table {
    display: table;
    overflow-x: initial;
  }
}
